@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-blue {
      @apply bg-blue-500 px-3 py-0.5 text-sm text-white font-bold rounded-sm hover:bg-blue-800 shadow-sm shadow-blue-500 active:scale-[0.97] duration-100;
    }
    .btn-red {
        @apply bg-red-500 px-3 py-0.5 ml-1 text-sm text-white font-bold rounded-sm hover:bg-red-800 shadow-sm shadow-red-500 active:scale-[0.97] duration-100
    }
    .btn-purple {
        @apply bg-purple-600 py-1 text-sm text-white font-bold px-6 w-full text-center shadow-md shadow-purple-700/50 cursor-pointer active:scale-95 duration-100 rounded
    }
    .btn-green {
        @apply bg-green-600 px-3 py-0.5 ml-1 text-sm text-white font-bold rounded-sm hover:bg-green-800 shadow-sm shadow-green-600 active:scale-[0.97] duration-100
    }
  }


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400&family=Rubik&display=swap');

body {
    font-family: "Rubik", 'Noto Sans Arabic', sans-serif  !important;
    overflow-x: hidden;
}

.input-div {
    
    position: relative;
}

.input-label span {
    display: inline-block;
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-label {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: start;
    font: 'Noto Sans Arabic';
    color: gray;
}
.input-div input:focus + label span,
.input-div input:not(:placeholder-shown) + label span{
    transform: translateY(-30px) ;
    color: black;
    
}

.progressBar {
    width: 0%;
    height: 0.4rem;
    position: absolute;
    transition: width 0.3s ease;
}

.rtl-header > button {
    margin: 0 !important 
}

