$enable-ltr: false;
$enable-rtl: true;
@import "@coreui/coreui/scss/coreui.scss";
.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    will-change: auto;
    @include transition(padding .15s);
  }